
.footer {
    width: 100%;
    height: 300px;
    background-color: burlywood;
    margin-top: 300px;
}

.footer-main {
    width: 1305px;
    /* background-color: tomato; */
    height: 100%;
    margin: 0 0 0 300px;
    display: inline-flex;
}

.footer-container1 {
    /* background-color: blue; */
    width: 300px;
    height: 100%;

}

.footer-container2 {
    /* background-color: yellow; */
    width: 300px;
    height: 100%;
}

.span-title {
    /* display: block; */
    font-weight: bold;
}

.span-content{
    display: block;

}

.footer-content {
    margin: 50px 10px;
}