body {
  margin: auto;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.header {
  background-color: rgba(166,73,66,1);
  height: 50px;
  text-align: center;
  /* padding-top: 20px; */
  /*display: table;*/
  display: flex;
  width: 100%;

}

.header-center {
  /*display: table-cell;*/
  width: 30%;
  height: 100%;
  text-align: center;

}

.header-side {
  /*display: table-cell;*/
  width: 40%;
  height: 100%;
}



a.nav-link {
  color: white;
}


ul.nav.nav-pills {
  padding-top: 5px;
}