 	.middle {
    /* background-color: gray; */
    width: 100%;
    height: 1500px;
    display: flex;
    justify-content: center;
}
.middle-main {
    width: 56.6%;
    /* background-color: tomato; */
    height: 100%;
    margin: 0px 352.5px;

}

.middle-best {
    /* background-color: yellow; */
    width: 100%;
    height: 120px;
    text-align: center;

}

#best {
    font-size: 70px;
    font-weight: 700;
    color: red;
}

#bContents {
    font-size: 30px;
    font-weight: 700;
}


.middle-container1 {
    display: flex;
    height: 500px;
}

.middle-container2 {
    display: flex;
    height: 500px;
}

.middle-container-item {
    width: 60%;
    height: 490px;
    margin: 0px 30px;
    /* background-color: blue;     */
}



.middle-img {
    /* background-color: bisque; */
    margin-bottom: 30px;
    height: 230px;
}

.middle-img img {
    width: 100%;
    height: 230px;
    border-radius: 10%;
    background-color: rgba(255,241,193,1);
}


.middle-detail {
    height: 150px;
    /*background-color: rgba(255,200,130,1);*/
    /*border-radius: 10%;*/
    /*padding: 10px 10px;*/



}

.hrLine {
    height: 100px;
}