
    table, th, td {
        /* border: 0.1px solid black; */
        border-collapse: collapse;
        width: 800px;
        height: 100px;
        margin: 0 auto;
    }
    .product-icon > img{
        width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 8%;
    }
    
    h5{
        text-align: center;
    }
    /* 별 */
    #myform fieldset{
        display: inline-block;
        direction: rtl;
        border:0;
    }
    #myform fieldset legend{
        text-align: right;
    }
    #myform input[type=radio]{
        display: none;
       
    }
    #myform label{
        font-size: 3em;
        color: transparent;
        text-shadow: 0 0 0 #f0f0f0;
    }
    #myform label:hover{
        text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
    }
    #myform label:hover ~ label{
        text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
    }
    #myform input[type=radio]:checked ~ label{
        text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
    }
    #reviewContents {
        width: 100%;
        height: 150px;
        padding: 10px;
        box-sizing: border-box;
        border: solid 1.5px #D3D3D3;
        border-radius: 3px;
        font-size: 16px;
        resize: none;
    }
    /*별*/
    .star{
        margin-left: 270px;
    }
    .photo-attach{
        margin-left: 320px;;
    }
    .register{
        margin-left: 240px;
        margin-top: -60px;
    }
    .review-first{
        background-color: aliceblue;
    }
    
    /*파일업로드 css*/
    /* label 스타일 조정 */
	.button99{
	    display: flex;
	    justify-content: center;
	}
	label {
	    cursor: pointer;
	    font-size: 1em;
	}
	
	
	   
