.shopTool {
    width: 100%;
    height: 40px;
    background-color: gray;
    opacity: 0.9;
}

.shopTool-detail {
    padding-top: 10px;
}


.myPageMain {
    /* background-color: gray; */
}

.myPageMain-container {
    /* width: 100%; */
    height: 100%;
    /* background-color: aquamarine; */
    padding: 60px 90px;
    display: flex;
    justify-content: center;
}


.state-container {
    width: 860px;
    height: 100px;
    /* background-color: burlywood; */
    border: 5px double burlywood;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.state-container img {
    width: 100%;
    height: 100%;
}

.stateImage {
    width: 60px;
    height: 60px;
    margin: 0 20px;
}

.userDetail {
    padding-top: 5px;
}

.menuMain {
    display: flex;
    margin: 0 80px;
    height: 100%;
}

.menu-container {
    width: 250px;
    height: 300px;
    /* background-color: blue; */
}

.menu-container-a {
    width: 221px;
    padding: 12px 10px;
    /* background-color: cyan; */
}

.menu-container-a a {
    text-decoration: none;
}

.menu-result-container {
    width: 100%;
    /* background-color: pink; */
    margin-left: 40px;
}

.menu-result-container h2 {
    margin-bottom: 30px;
}

.menu-result-container-list {
    width: 70%;
    /* border: 1px solid burlywood; */
    background-color: burlywood;
    margin-left: 12.35%;
    text-align: center;
}

.menu-result-container-list img{
    display: inline-block;
    margin-top: 14px;
    margin-bottom: 14px;
}
